@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
.about-why {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .about-why {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.about-why h1 {
  font-size: calc(43em / 16);
  margin: 0.5em auto;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: #001c00;
}

@media (min-width: 768px) {
  .about-why h1 {
    font-size: calc(88em / 16);
    margin: 0.25em auto;
    width: 100%;
  }
}

.about-why img {
  width: calc(107em / 16);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 768px) {
  .about-why img {
    width: calc(250em / 16);
  }
  .about-why img:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.about-why .about-why__support {
  position: relative;
  top: -1.5em;
}

@media (min-width: 768px) {
  .about-why .about-why__support {
    top: 0;
    width: 60%;
  }
}

.about-why .about-why__support h2 {
  font-size: calc(28em / 16);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.02em;
  color: #001c00;
}

@media (min-width: 768px) {
  .about-why .about-why__support h2 {
    font-size: calc(40em / 16);
    margin: 0 0 0.5em;
  }
}

.about-why .about-why__support p {
  font-size: calc(12em / 16);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #001c00;
}

@media (min-width: 768px) {
  .about-why .about-why__support p {
    font-size: calc(16em / 16);
    line-height: 2;
  }
}

.about-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .about-mission {
    margin: 2em auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about-mission .about-mission__header {
  width: 100%;
  height: calc(120em / 16);
  background-image: url("img/mission-vision-m.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 1em;
}

@media (min-width: 768px) {
  .about-mission .about-mission__header {
    height: calc(400em / 16);
    background-image: url("img/mission-vision-d.png");
    width: 100%;
  }
}

.about-mission .about-mission__header h2 {
  color: #fff;
  font-size: calc(35em / 16);
  margin: 0;
  letter-spacing: 0.04em;
  font-family: "Bebas Neue", cursive;
}

@media (min-width: 768px) {
  .about-mission .about-mission__header h2 {
    font-size: calc(88em / 16);
  }
}

.about-mission .about-mission__block {
  margin: 0.5em auto;
}

@media (min-width: 768px) {
  .about-mission .about-mission__block {
    width: 34%;
  }
}

.about-mission h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  background-color: #001c00;
  color: #fff;
  font-size: calc(30em / 16);
  margin: 0 auto;
  letter-spacing: 0.04em;
  padding: 0.1em 0.25em;
  font-family: "Bebas Neue", cursive;
}

@media (min-width: 768px) {
  .about-mission h3 {
    font-size: calc(73em / 16);
  }
}

.about-mission p {
  margin: 0.25em auto;
  font-size: 0.75em;
  letter-spacing: 0.04em;
  line-height: 2;
  text-align: center;
}

@media (min-width: 768px) {
  .about-mission p {
    font-size: calc(22em / 16);
  }
}

.about-values {
  background-color: #001c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 1em;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about-values .about-values__copy {
    width: auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 12%;
  }
}

.about-values h2 {
  color: #fff;
  font-size: calc(35em / 16);
  margin: 0;
  letter-spacing: 0.04em;
  font-family: "Bebas Neue", cursive;
}

@media (min-width: 768px) {
  .about-values h2 {
    font-size: calc(88em / 16);
  }
}

.about-values img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: calc(356em / 16);
  position: relative;
  left: 5.25em;
}

@media (min-width: 768px) {
  .about-values img {
    width: calc(1240em / 16);
    left: 3em;
  }
}

.about-values .about-values__quote {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: calc(22em / 16);
  margin: 1em auto;
}

@media (min-width: 768px) {
  .about-values .about-values__quote {
    font-size: calc(60em / 16);
    margin: 1em 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .about-values__items {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-values p {
  color: #fff;
  font-size: 0.68em;
  letter-spacing: 0.04em;
  margin: 0.5em auto;
}

@media (min-width: 768px) {
  .about-values p {
    font-size: calc(18em / 16);
    margin: 1em 0;
    width: 45%;
  }
}

.about-values p span {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.04em;
  display: block;
  text-decoration: underline;
  padding: 0 0 0.5em;
}
/*# sourceMappingURL=about-us.css.map */