@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  font-size: 4.266666vw;
}

@media (min-width: 768px) {
  * {
    font-size: 1.1111vw;
  }
}

@media (min-width: 1440px) {
  * {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  height: 21.56em;
}

@media (min-width: 768px) {
  header {
    height: 53.75em;
  }
}

header picture.img--bg {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  height: auto;
}

header picture.img--bg img {
  width: 100%;
}

header .container {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

header .hero {
  background-color: rgba(1, 92, 0, 0.7);
  width: 70%;
  margin: auto;
  height: 10.68em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  header .hero {
    position: absolute;
    bottom: 9%;
    left: 9%;
    width: 36.5em;
    height: 19.625em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  header .hero__copy {
    width: 90%;
    margin: 0 auto;
  }
}

header .hero h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: calc(24em / 16);
  text-align: center;
  font-style: normal;
  line-height: 1.1;
}

@media (min-width: 768px) {
  header .hero h2 {
    font-size: calc(50em / 16);
    text-align: left;
    font-weight: 400;
  }
}

header .hero h3 {
  font-size: 0.75em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  header .hero h3 {
    font-size: calc(24em / 16);
    text-align: left;
    margin: 0.15em 0;
  }
}

header .hero p {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.025em;
  line-height: 1;
  color: #015c00;
  background-color: #fff;
  padding: 0.5em 0;
  text-align: center;
  margin: 0.75em auto 0;
  width: 50%;
  border-radius: 3px;
}

@media (min-width: 768px) {
  header .hero p {
    font-size: calc(32em / 16);
    margin: 0.5em 0 0;
    padding: 0.5em 0;
    width: 50%;
  }
}

.mobile--only {
  display: block;
}

@media (min-width: 768px) {
  .mobile--only {
    display: none !important;
  }
}

.desktop--only {
  display: none;
}

@media (min-width: 768px) {
  .desktop--only {
    display: inherit;
  }
}

footer.whc-footer {
  width: 100%;
}

footer.whc-footer img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */